*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  inline-size: 1140px;
  block-size: 100%;
  background-color: #1b1919;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.content {
  display: flex; 
  flex-direction: row;
  align-content: flex-end;
  width: 1140px;
  gap: 30px;
}

.search-form__submit-button {
  height: 34px;
}

.content__list-container {
  height: 399px;
  overflow-y: auto;  
}

.content__list {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__details {
  inline-size: 100%;
}

.content__video-card {
  display: flex;
  justify-content:space-between;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit:cover;
  object-position: center;
}

.more-button {
  margin-top: 30px;
  inline-size: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;

}

.result__video-container {
  inline-size: 711px;
  margin-bottom: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item {

}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
