*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  inline-size: 1140px;
  block-size: 100%;
}

.content {
  display: flex; 
  flex-direction: row;
  align-content: flex-end;
  width: 1140px;
  gap: 30px;
  
}

.content__list-container {
  height: 399px;
  overflow-y:auto;
  scrollbar-width: none;
}

.content__details {
  inline-size: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
